<nav class="navbar navbar-default ">
	<div class="container-fluid">
		<div class="navbar-header">
			<h7 class="navbar-brand" >
					<b>Seller List</b>
			</h7>
		</div>
    <ul class="nav navbar-nav">
                <li class="r4"><%= link_to'Home',root_path%></li>
			</ul>
			
  </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
     <% @sellers.each do |seller| %>
      <tr>
      <td><%= seller.name %></td>
      <td><%= seller.phone %></td>
      <td><%= seller.address %></td>
      <td><%= link_to 'Show', seller_path(seller) %></td>    
      </tr>
    <% end %>
  </tbody>
</table>
