<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><img class="logo" src="" alt="myStore"></a>
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',root_path,class: "nav-link" %></li>
          
         
            <li ><%= link_to'Orders',root_path, class: "nav-link"%></li>
            <li><%= link_to'Products',seller_products_seller_path(current_seller), class:"nav-link active"%></li>
            <li ><%= link_to'Profile',seller_path(current_seller), class: "nav-link"%></li>
          
      </ul>
      
      
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
      <th scope="col">  </th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Stock</th>
      <th scope="col">Price    </th>
    </tr>
  </thead>
  <tbody>
     <% current_seller.products.each do |product| %>
    <tr>
        <% if product.image.attached? %>
            <td><%= image_tag(product.image, class:"image")%></td>  
        <% end %>
      <td><%= product.name %></td>
      <td><%= product.desc %></td>
      <td><%= product.quantity %></td>
      <td>₹<%= product.price %></td> 
      
      <td><%= link_to 'Show', product_path(product) ,class:"btn btn-primary btn-sm"%></td>
      <td><%= link_to 'Update', edit_product_path(product),class:"btn btn-primary btn-sm" %></td>
      <td><%= button_to  'remove', product_path(product),
              method: :delete,
              data: { confirm: 'Are you sure?' } ,class:"btn btn-danger btn-sm"%></td> 
    </tr>
  <% end %>
  </tbody>
</table>

<%=link_to 'Add new Product', new_product_path(:seller_id => params[:id]),class: "btn btn-primary" %>