<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">myStore</a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',mains_user_page_path,class: "nav-link active" %></li>
          <li><%= link_to'Users',users_path, class:"nav-link"%></li>
        <li ><%= link_to'Orders',mains_user_page_path, class: "nav-link"%></li>
        <li ><%= link_to'MyCart',mains_user_page_path, class: "nav-link"%></li>
        <li ><%= link_to'Profile',mains_user_page_path, class: "nav-link"%></li>
      </ul>
      
    </div>
  </div>
</nav>



<nav class="navbar navbar-default ">
	<div class="container-fluid">
		<div class="navbar-header">
			<h7 class="navbar-brand" >
					<b>Users</b>
			</h7>
		</div>
	    </div>
    </div>
</nav>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
      <% @users.each do |user| %>
    <tr>
      <td><%=user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.address %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
