<%= form_with scope: :user, url: users_path ,local: true do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :Phone %><br>
    <%= form.text_area :phone %>
  </p>

  <p>
    <%= form.submit :submit%>
  </p>
<% end %>
