<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">myStore</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',mains_user_page_path,class: "nav-link active" %></li>
          <li><%= link_to'Users',users_path, class:"nav-link"%></li>
        <li ><%= link_to'Orders',mains_user_page_path, class: "nav-link"%></li>
        <li ><%= link_to'MyCart',mains_user_page_path, class: "nav-link"%></li>
        <li ><%= link_to'Profile',mains_user_page_path, class: "nav-link"%></li>
      </ul>
      
    </div>
  </div>
</nav>
<p>
  <strong>Name</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address</strong>
  <%= @user.address %>

</p>
<p>
  <strong>user</strong>
  <%= @user.id %>

</p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
     <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      
      <td><%= product.desc %></td>
      
      <td><%= product.price %></td>

      <td><%= form_with  do |form| %>
          <%= form.number_field :@qty, in: 1..20, step: 1 %>
      </td>
      <td><%= form.submit :Update,class:"btn btn-secondary btn-sm" %></td>
      <%end%>
      <%puts @qty%>
      <td><%= link_to 'Show', product_path(product),class:"btn btn-primary btn-sm" %></td>
	    <td><%= link_to 'Add to Cart', insert_carts_path(:user_id => @user.id,:product_id => product.id,:qty => @qty),:method => :post,class:"btn btn-primary btn-sm" %></td> 
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Go to cart' ,cart_path(@user.cart),class:"btn btn-primary"%>
