<nav class="navbar navbar-default ">
	<div class="container-fluid">
		<div class="navbar-header">
			<h7 class="navbar-brand" >
					<b>User info</b>
			</h7>
		</div>
    <ul class="nav navbar-nav">
                <li class="r4"><%= link_to'Home',root_path%></li>
			</ul>
			
  </div>
</nav>
<p>
  <strong>Name</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Address</strong>
  <%= @user.address %>

</p>
<p>
  <strong>user</strong>
  <%= @user.id %>

</p>
 
 <table>
  <tr>
    <th>Name_|</th>
    <th></th>
	<th></th>
    <th>Description_|</th>
    <th></th>
	<th></th>
    <th>Price</th>
	<th></th>
  </tr>
<% @products.each do |product| %>
    <tr>
    
      <td><%= product.name %></td>
      <td> </td>
	  <td> </td>
      <td><%= product.desc %></td>
      <td> </td>
	  <td> </td>
      <td><%= product.price %></td>
      <td> </td> 
	  <td> </td>     
      <td><%= link_to 'Show', product_path(product) %></td>
	  <td><%= link_to 'Add to Cart', insert_carts_path(:user_id => @user.id,:product_id => product.id),:method => :post %></td> 
    </tr>
  <% end %>

</table>
<%= link_to 'Go to cart' ,cart_path(@user.cart)%>

