<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">myStore</a>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',mains_user_page_path,class: "nav-link" %></li>
          <li><%= link_to'Users',users_path, class:"nav-link"%></li>
        <li ><%= link_to'Orders',mains_user_page_path, class: "nav-link"%></li>
        <li ><%= link_to'MyCart',carts_path, class: "nav-link active"%></li>
        <li ><%= link_to'Profile',mains_user_page_path, class: "nav-link"%></li>
      </ul>
      
    </div>
  </div>
</nav>


<table>
  <tr>
    <th>Name_|</th>
    <th> </th>
    <th>Description_|</th>
    <th> </th>
    <th>Price_</th>
  </tr>
<% @cart.products.each do |product| %>
    <tr>
    
      <td><%= product.name %></td>
      <td> </td>
      <td><%= product.desc %></td>
      <td> </td>
      <td><%= product.price %></td>
      <td> </td>      
      <td><%= link_to 'Show', product_path(product) %></td>
	  <td><%= link_to 'Add to cart' ,login_users_path%></td> 
    </tr>
  <% end %>
</table> 
