<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">myStore</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',mains_user_page_path,class: "nav-link" %></li>
          <li><%= link_to'Users',users_path, class:"nav-link"%></li>
        <li ><%= link_to'Orders',mains_user_page_path, class: "nav-link"%></li>
        <li ><%= link_to'MyCart',carts_path, class: "nav-link active"%></li>
        <li ><%= link_to'Profile',mains_user_page_path, class: "nav-link"%></li>
      </ul>
      
    </div>
  </div>
</nav>

<% @cart.products.each do |product| %>
  <section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row justify-content-center mb-3">
        <div class="col-md-12 col-xl-10">
          <div class="card shadow-0 border rounded-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                  <div class="bg-image hover-zoom ripple rounded ripple-surface">
                    <% if product.image.attached? %>
                        <%= image_tag(product.image, class: "image")%>
                    <% end%>
                    <a href="#!">
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <h5><strong><%= product.name %></strong></h5>
                  <div class="d-flex flex-row">
                    <div class="text-danger mb-1 me-2">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <p class="text-truncate mb-4 mb-md-0">
                      <%= product.desc %>
                  </p>
                  <p>Seller:
                      <%= product.seller.name %>
                  </p>
                  <div class="d-flex flex-row align-items-center mb-1">
                      <h4 class="mb-1 me-1">₹<%= product.price %></h4>
                  </div>
                  <div class="">
                        <%= link_to 'Show', product_path(product), class:"btn btn-primary btn-sm mt-2" %>
                        <%= link_to 'Remove from cart',root_path, class:"btn btn-danger btn-sm mt-2"%>
                        
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>   
  </section>
<% end %>

<section style="background-color: #eee;">
    <div class="container py-5">
              <div class="row">
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="">
                   <%= link_to 'Go back',root_path, class:"btn btn-primary btn-sm mt-2 "%>
                    <%= link_to 'Proceed for payment',root_path, class:"btn btn-success btn-sm mt-2"%>
                    </div>
                </div>
      </div>   
  </section>