<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="#"><img class="logo" src="" alt="myStore"></a>
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="r4"><%= link_to'Home',root_path,class: "nav-link " %></li>
          <%if user_signed_in?%>
            
            <li><%= link_to'Products',products_path(current_user), class:"nav-link active"%></li>
            <li ><%= link_to'Orders',orders_path, class: "nav-link"%></li>
            <li ><%= link_to'MyCart',cart_path(current_user), class: "nav-link"%></li>
            <li ><%= link_to'Profile',user_path(current_user), class: "nav-link"%></li>
          <%elsif seller_signed_in?%>
            <li ><%= link_to'Orders',root_path, class: "nav-link"%></li>
            <li><%= link_to'Products',seller_products_seller_path(current_seller), class:"nav-link active"%></li>
            <li ><%= link_to'Profile',seller_path(current_seller), class: "nav-link"%></li>
          <%else%>
            <li><%= link_to'Are you a seller?',new_seller_session_path, class:"nav-link"%></li>
            <li ><%= link_to'SignUp/Login',new_user_session_path, class: "nav-link"%></li>
            
          <%end%>
      </ul>
    </div>
  </div>
</nav>

<div class="card ", style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)max-width: 300px;max-height:800px;margin: auto;text-align: center;font-family: arial;">
  <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" style="margin-top:20px;">
    <% if @product.image.attached? %>
        <p>
        <%= image_tag(@product.image, style: "height :350px")%>
        </p>
    <% end%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><strong><%= @product.name %></strong></h5>
    <p class="card-text"><%= @product.desc %></p>
    <p class="price",style= "color:grey;font-size: 22px;"><strong>₹<%= @product.price %></strong></p>
    <%if user_signed_in?%>
        <p><%= link_to 'Add to Cart', insert_carts_path(:user_id => current_user.id,:product_id => @product.id),:method => :post,class:"btn btn-primary btn-sm",style:"border: none;outline: 0;padding: 12px;color: white;background-color: #000;text-align: center;cursor: pointer;width: 50%;font-size: 18px;"%></p>
    <%end%>
  </div>
</div>
